#memories {
  display: none;
  margin-top: 20px;
}
#memories img {
  width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 10px;
  opacity: 0;
  animation: fadePic 2s forwards;
}
@keyframes fadePic {
  to {opacity: 1;}
}

